node_modules/
dist/
public/
release/

.temp/
.vscode/
.settings/
.idea/

.project
.classpath

/platforms/android/.gradle
/platforms/android/app/build
/platforms/android/build

/platforms/ios/build
/platforms/ios/Pods

WeexDemo.xcworkspace

Podfile.lock
project.pbxproj

local.properties

*.apk
*.ipa

json/
json*/

arr*.json
result*.json

# *.iml

package-lock.json
